/* Main code */
.ovelay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-loading {
  width: 100px;
  height: 100px;
  background-color: #6a5af9;
  border-radius: 8px;
  animation: flip 1.2s ease-in-out infinite;
}
@keyframes flip {
  0% {
    transform: perspective(200px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(200px) rotateX(180deg) rotateY(0);
  }
  100% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg);
  }
}

.dashed-loading {
  position: relative;
  height: 50px;
}
.dashed-loading:after,
.dashed-loading:before {
  content: "";
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.dashed-loading:before {
  z-index: 5;
  border: 3px dashed rgba(0, 0, 255, 0.555);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}
.dashed-loading:after {
  z-index: 10;
  border: 3px solid rgba(0, 0, 255, 0.555);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}
@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}
