@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #555;
}

#root {
  margin: auto;
  background-color: #fff;
  height: 100vh;
}

.app {
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  overflow-y: scroll;
  position: relative;
}

.active {
  color: #fff !important;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

.modal-edit-profile {
  background-color: rgba(0, 0, 0, 0.473);
}

.arrow-left {
  position: relative;
}

.arrow-left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-right: 8px solid white;
  left: -7px;
  bottom: 3px;
}

.arrow-right {
  position: relative;
}

.arrow-right::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-left: 8px solid #60a5fa;
  right: -7px;
  bottom: 3px;
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}

.skeleton-text {
  border-radius: 3px;
  height: 12px;
  margin: 8px 0;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
